.principal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
  background-color: var(--light-grayish-cyan);
}

header {
  width: 100%;
}

footer {
  margin-top: 30px;
  text-align: center;
}

@media (width > 915px){
  .principal-container {
    height: 100vh;
    background-position: 80% 70px, 18% 95%;

  }

  .principal-container main {
    display: flex;
    align-items: center;
    justify-content: center;

  }
}