* {
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
  outline: none;
}

:root {
      /* Tip Calculator App */

    /* Font */
    font-family: 'Space Mono', monospace;

    /* colors */
    /* Principal */
    --strong-cyan: hsl(172, 67%, 45%);
    /* Secundary */
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);

}